extends layout

block content
  section.sensors
    each s in tempSensors
      div.sensor
        div.sensor-name= s.sensorName
        div.sensor-temp
          span= s.temperatureC
          span °
  section.footer
    div= obsTime
    div
      span Min 24h:&nbsp;
      span= min
      span °
    div
      span Max 24h:&nbsp;
      span= max
      span °
